In [1]:
import sqlalchemy as db
import pandas as pd
engine = db.create_engine('postgresql+psycopg2://postgres:abcd1234@localhost:5432/dbreporter')

def execute_query(query):
    with engine.connect() as connection:
        df = pd.read_sql(query, engine)
    
    return df

In [39]:
users = execute_query( 'select * from users')
stores = execute_query('select * from stores')
products = execute_query('select ws_code,product_name from products where is_active is True')

# REPORT 1

In [ ]:
q = ''' select * from report1 where date >= DATE_TRUNC('month', CURRENT_DATE);'''
# q2 = '''select * from input1'''
# df_in = execute_query(q2)
df = execute_query(q)

Input

In [5]:
df_in = pd.DataFrame({'product_code': [11377,30196,18437],
                    'Incentives': [350,30,100]})

********************************

In [6]:
df = pd.merge(df_in,df,how='left', on=['product_code'])
df.rename(columns={'Incentives':'Incentive per qty'}, inplace=True)
df['TotalIncentive'] = df['Incentive per qty'] * df['qty']
df.drop(columns=['index','date'])

,product_code,Incentive per qty,store_id,billing_user_id,qty,TotalIncentive
0,11377,350,36.0,79.0,4.0,1400.0
1,11377,350,36.0,62.0,1.0,350.0
2,11377,350,130.0,66.0,1.0,350.0
3,11377,350,28.0,72.0,1.0,350.0
4,11377,350,36.0,833.0,3.0,1050.0
...,...,...,...,...,...,...
98,30196,30,36.0,62.0,1.0,30.0
99,30196,30,36.0,833.0,17.0,510.0
100,30196,30,36.0,62.0,1.0,30.0
101,30196,30,36.0,60.0,1.0,30.0
102,18437,100,NaN,NaN,NaN,NaN

In [7]:
df = df.merge(users,how='left', left_on= ['billing_user_id'], right_on = ['id'])
df = df.merge(stores,how='left', left_on = ['store_id'], right_on = ['id'])
df = df.merge(products,how='left', left_on = ['product_code'], right_on = ['ws_code'])
df = df.drop(columns=['billing_user_id','store_id','product_code','id_x','id_y','ws_code','is_active'])

In [8]:
df

,Incentive per qty,index,qty,date,TotalIncentive,name,store_name,product_name
0,350,24.0,4.0,2024-09-20,1400.0,NaN,MEDKART B SUSEN CIRCLE,REVITAL H CAP 1X10
1,350,38.0,1.0,2024-08-01,350.0,NaN,MEDKART B SUSEN CIRCLE,REVITAL H CAP 1X10
2,350,47.0,1.0,2024-09-13,350.0,NaN,TATHYA PHARMACY,REVITAL H CAP 1X10
3,350,61.0,1.0,2024-05-23,350.0,NaN,MEDKART A IOC ROAD,REVITAL H CAP 1X10
4,350,63.0,3.0,2024-11-20,1050.0,NaN,MEDKART B SUSEN CIRCLE,REVITAL H CAP 1X10
...,...,...,...,...,...,...,...,...
98,30,1079.0,1.0,2024-08-08,30.0,NaN,MEDKART B SUSEN CIRCLE,NaN
99,30,1135.0,17.0,2024-10-28,510.0,NaN,MEDKART B SUSEN CIRCLE,NaN
100,30,1241.0,1.0,2024-07-29,30.0,NaN,MEDKART B SUSEN CIRCLE,NaN
101,30,1261.0,1.0,2024-10-28,30.0,NaN,MEDKART B SUSEN CIRCLE,NaN
102,100,NaN,NaN,NaT,NaN,NaN,NaN,NEXOVAS TM 50MG TAB 1X10

# REPORT 2

In [ ]:
q = ''' select * from report2 where date >= DATE_TRUNC('month', CURRENT_DATE);'''
# q2 = '''select * from brand_cat_product'''
# brand_cat_product = execute_query(q2)
# q2 = '''select * from Brand_tieup_2'''
# Brand_tieup_2 = execute_query(q2)
rp2_df1 = execute_query(q)

In [ ]:
brand_cat_product = pd.DataFrame({'Kapiva': [11377,18437],
                                  'Himalaya': [30196,18739]})
Brand_tieup_2 = pd.DataFrame({'month': ['01-02-2025','01-02-2025','01-02-2025','01-02-2025','01-02-2025','01-02-2025'],
                              'Brand_cat':['Kapiva','Kapiva','Kapiva','Himalaya','Himalaya','Himalaya'],
                              'Brand_sales_rate': [4000,8000,12000,5000,9000,14000],
                              "%applied": [4,10,15,5,12,20]})

In [45]:
rp2_df1 = pd.DataFrame(columns=['store_id','billing_user_id','sales','Brand_cat'])

In [46]:
for col in brand_cat_product.columns:
    pd_id = str(tuple(set(brand_cat_product[col])))
    q = f'''select 
        store_id,
        billing_user_id,
        sum(sales) as sales
    from report2
    where product_id in {pd_id}
    and where date >= DATE_TRUNC('month', CURRENT_DATE)
    group by store_id, billing_user_id, product_id'''
    rp2_df = execute_query(q)
    rp2_df['Brand_cat'] = col
    rp2_df1 = pd.concat([rp2_df1, rp2_df], ignore_index=True)
    #rp2_dict[col] = rp2_df

C:\Users\Medkart\AppData\Local\Temp\ipykernel_16596\3468601247.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rp2_df1 = pd.concat([rp2_df1, rp2_df], ignore_index=True)

In [47]:
percent_applied = []
rp2_df1 = rp2_df1.sort_values(by=['Brand_cat'])  # Correct sorting

for col in sorted(set(Brand_tieup_2['Brand_cat'].values)):  # Ensure sorted order
    brand_percent1 = Brand_tieup_2[Brand_tieup_2['Brand_cat'] == col]
    brand_percent = sorted(brand_percent1['Brand_sales_rate'].values)  # Ensure sorting
    df = rp2_df1[rp2_df1['Brand_cat'] == col]
    
    applied_percent_list = []  # Temporary list for each Brand_cat

    for _, row in df.iterrows():  
        applied_percent = None  # Default value
        
        for i in range(len(brand_percent) - 1):  
            if brand_percent[i] < row['sales'] < brand_percent[i + 1]:
                applied_percent = brand_percent1.iloc[i]['%applied']
                break  

        if applied_percent is None and row['sales'] >= brand_percent[-1]:
            applied_percent = brand_percent1.iloc[-1]['%applied']
        
        applied_percent_list.append(applied_percent)

    rp2_df1.loc[rp2_df1['Brand_cat'] == col, '%applied'] = applied_percent_list

In [48]:
rp2_df1['TotalIncentive'] = rp2_df1['%applied']*rp2_df1['sales']/100

In [50]:
rp2_df1['billing_user_id'] = rp2_df1['billing_user_id'].astype(int)
rp2_df1['store_id'] = rp2_df1['store_id'].astype(int)

In [ ]:
rp2_df1 = rp2_df1.merge(users,how='left', left_on= ['billing_user_id'], right_on = ['id'])
rp2_df1 = rp2_df1.merge(stores,how='left', left_on = ['store_id'], right_on = ['id'])
rp2_df1 = rp2_df1.drop(columns=['index','billing_user_id','store_id','id_x','id_y','is_active'])

In [52]:
rp2_df1

,sales,Brand_cat,%applied,TotalIncentive,index,name,store_name
0,163.20,Himalaya,None,NaN,66,Hiren,MEDKART B SUSEN CIRCLE
1,1600.00,Himalaya,None,NaN,322,VIDHI DEMO 1,MEDKART B SUSEN CIRCLE
2,200.00,Himalaya,None,NaN,283,ANIS TERMINAL,MEDKART B SUSEN CIRCLE
3,115.20,Himalaya,None,NaN,73,YAGNIK SEIKH,MEDKART B SUSEN CIRCLE
4,600.00,Himalaya,None,NaN,81,HIMANSHI,MEDKART B SUSEN CIRCLE
5,1000.00,Himalaya,None,NaN,72,CHARMI ADMIN,MEDKART B SUSEN CIRCLE
6,700.00,Himalaya,None,NaN,66,Hiren,MEDKART B SUSEN CIRCLE
7,900.00,Himalaya,None,NaN,73,YAGNIK SEIKH,MEDKART B SUSEN CIRCLE
8,100.00,Himalaya,None,NaN,236,VIDHI- HA,MEDKART B SUSEN CIRCLE
9,3600.00,Himalaya,None,NaN,8,Yagnik,MEDKART B SUSEN CIRCLE
10,458.40,Himalaya,None,NaN,8,Yagnik,MEDKART B SUSEN CIRCLE
11,2500.00,Himalaya,None,NaN,230,VIDHI STORE 39,MEDKART B SUSEN CIRCLE
12,36.00,Himalaya,None,NaN,283,ANIS TERMINAL,MEDKART B SUSEN CIRCLE
13,12.00,Himalaya,None,NaN,230,VIDHI STORE 39,MEDKART B SUSEN CIRCLE
14,4967.70,Kapiva,4,198.708,73,YAGNIK SEIKH,MEDKART B SUSEN CIRCLE
15,1860.00,Kapiva,None,NaN,275,Hiren Patel,MEDKART A RANIP (TECH 408)
16,164008.15,Kapiva,15,24601.2225,66,Hiren,MEDKART B SUSEN CIRCLE
17,30417.95,Kapiva,15,4562.6925,230,VIDHI STORE 39,MEDKART B SUSEN CIRCLE
18,42483.20,Kapiva,15,6372.48,8,Yagnik,MEDKART B SUSEN CIRCLE
19,930.00,Kapiva,None,NaN,81,HIMANSHI,MEDKART B SUSEN CIRCLE
20,2790.00,Kapiva,None,NaN,72,CHARMI ADMIN,MEDKART A JIVRAJPARK
21,310.00,Kapiva,None,NaN,8,Yagnik,MEDKART A JIVRAJPARK
22,310.00,Kapiva,None,NaN,236,VIDHI- HA,TATHYA PHARMACY
23,3100.00,Kapiva,None,NaN,274,Saurabh Khodal,MEDKART A JIVRAJPARK
24,1550.00,Kapiva,None,NaN,82,SHREYANSH - TERMINAL,MEDKART B SUSEN CIRCLE
25,620.00,Kapiva,None,NaN,236,VIDHI- HA,MEDKART A IOC ROAD
26,1550.00,Kapiva,None,NaN,230,VIDHI STORE 39,MEDKART A JIVRAJPARK
27,1240.00,Kapiva,None,NaN,73,YAGNIK SEIKH,MEDKART A JIVRAJPARK
28,8998.25,Kapiva,10,899.825,322,VIDHI DEMO 1,MEDKART B SUSEN CIRCLE
29,3102.75,Kapiva,None,NaN,283,ANIS TERMINAL,MEDKART B SUSEN CIRCLE
30,1860.00,Kapiva,None,NaN,72,CHARMI ADMIN,MEDKART B SUSEN CIRCLE
31,7750.00,Kapiva,4,310.0,236,VIDHI- HA,MEDKART B KARELIBAG
32,3721.10,Kapiva,None,NaN,66,Hiren,MEDKART A JIVRAJPARK
33,1240.00,Kapiva,None,NaN,73,YAGNIK SEIKH,MEDKART A IOC ROAD
34,310.55,Kapiva,None,NaN,274,Saurabh Khodal,MEDKART B SUSEN CIRCLE
35,7750.00,Kapiva,4,310.0,274,Saurabh Khodal,MEDKART B KARELIBAG
36,930.00,Kapiva,None,NaN,275,Hiren Patel,TATHYA PHARMACY

# REPORT 3

In [ ]:
q = '''select * from report3 where date = '01-09-2024' '''
df = execute_query(q)

In [84]:
target_df = pd.DataFrame({'StoreName':['MEDKART B AKOTA'],
                            'Sales': [4000],
                            'Generic':[1000],
                            'Offer': ['No'],
                            'OTC':[2000],
                            'MSP':[1],
                            'WOW': [5000]})

In [85]:
result = target_df.merge(df, how = 'left', left_on=['StoreName'], right_on = ['store_name'])
result = result.drop(columns=['Offer','OTC','WOW','index','billing_user_id','date'])

In [88]:
import numpy as np

In [ ]:
result['Generic%'] = result['GenericSales']/result['Generic']*100
result['Target_achieved'] = (result['total_amount'] + result['Returnsales'])/result['Sales']*100
result['msp_count'] = pd.to_numeric(result['msp_count'], errors='coerce')
result['Eligible'] = np.where(
    (result['Generic%'] >= 100) & 
    (result['Target_achieved'] >= 1) &
    (result['msp_count'] >= result['MSP']),
    True, 
    False
)

In [99]:
result

,StoreName,Sales,Generic,MSP,store_id,store_name,total_amount,GenericSales,Returnsales,name,msp_count,Generic%,Target_achieved,Eligible
0,MEDKART B AKOTA,4000,1000,1,36,MEDKART B AKOTA,5234.58,NaN,NaN,Yagnik,NaN,NaN,NaN,False
1,MEDKART B AKOTA,4000,1000,1,36,MEDKART B AKOTA,126284.80,NaN,-8739.000,Hiren,NaN,NaN,2938.64500,True
2,MEDKART B AKOTA,4000,1000,1,36,MEDKART B AKOTA,7420.53,NaN,-3710.760,VIDHI DEMO 1,NaN,NaN,92.74425,True
3,MEDKART B AKOTA,4000,1000,1,36,MEDKART B AKOTA,10368.94,NaN,NaN,YAGNIK SEIKH,NaN,NaN,NaN,False
4,MEDKART B AKOTA,4000,1000,1,36,MEDKART B AKOTA,13457.25,NaN,-885.540,VIDHI STORE 39,NaN,NaN,314.29275,True
5,MEDKART B AKOTA,4000,1000,1,36,MEDKART B AKOTA,3819.90,NaN,NaN,Saurabh Khodal,NaN,NaN,NaN,False
6,MEDKART B AKOTA,4000,1000,1,36,MEDKART B AKOTA,2601.48,NaN,-12143.642,ANIS TERMINAL,NaN,NaN,-238.55405,False

# REPORT 4

In [134]:
import pandas as pd
import numpy as np

spot = pd.DataFrame({
    'store_id': [36, 23],
    'date': ['2024-09-15-2024-09-17', '2024-09-15-2024-09-17'],
    'SpotTarget': [7000, 5000],
    'GenSpotTarget': [300, 100]
})

spot['date_split'] = spot['date'].str.split('-')

# Function to extract Start_date and End_date safely
def extract_dates(date_list):
    if len(date_list) >= 6:  # Ensure enough parts exist
        return '-'.join(date_list[:3]), '-'.join(date_list[3:6])
    return '-'.join(date_list[:3]), None

# Apply function to each row
spot[['Start_date', 'End_date']] = spot['date_split'].apply(lambda x: pd.Series(extract_dates(x)))

# Drop temporary column
spot.drop(columns=['date_split'], inplace=True)

report4 = pd.DataFrame()  # Ensure report4 is initialized

for _, row in spot.iterrows():
    # Generate all dates within the given range
    date_range = pd.date_range(start=row['Start_date'], end=row['End_date']).strftime('%Y-%m-%d')

    # Fetch existing data from the database
    query = f"""
        SELECT * FROM report4 
        WHERE store_id = {row['store_id']} 
        AND date BETWEEN '{row['Start_date']}' AND '{row['End_date']}'
    """
    df = execute_query(query)

    # Convert date column to string format for comparison
    df['date'] = df['date'].astype(str)

    # Ensure all dates exist in the DataFrame
    missing_dates = set(date_range) - set(df['date'])

    for missing_date in missing_dates:
        new_row = {
            'store_id': row['store_id'],
            'date': missing_date,
            'spotsale': 0,  # Default values
            'spotsalereturn': 0,
            'genspotsale': 0,
            'genspotsalereturn': 0
        }
        df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

    # Compute target values
    df['SpotTarget'] = row['SpotTarget'] / 3
    df['GenSpotTarget'] = row['GenSpotTarget'] / 3

    # Compute achieved status
    df['achieved'] = np.where(
        (df['spotsale'] - df['spotsalereturn'] >= df['SpotTarget']) & 
        (df['genspotsale'] - df['genspotsalereturn'] >= df['GenSpotTarget']),
        True, 
        False
    )

    # Drop unnecessary column if it exists
    df.drop(columns=['index'], errors='ignore', inplace=True)

    # Append the new data to report4 using concat
    report4 = pd.concat([report4, df], ignore_index=True)

In [135]:
report4

,store_id,spotsale,date,genspotsale,genspotsalereturn,spotsalereturn,SpotTarget,GenSpotTarget,achieved
0,36,2892.55,2024-09-16,202.0,10.0,10.0,2333.333333,100.000000,True
1,36,12055.43,2024-09-17,86.0,NaN,3391.5,2333.333333,100.000000,False
2,36,1790.00,2024-09-15,30.0,NaN,NaN,2333.333333,100.000000,False
3,23,122.00,2024-09-16,54.8,None,NaN,1666.666667,33.333333,False
4,23,917.60,2024-09-17,137.0,None,918.0,1666.666667,33.333333,False
5,23,0.00,2024-09-15,0.0,0,0.0,1666.666667,33.333333,False