In [1]:
import sqlalchemy as db
engine = db.create_engine('postgresql+psycopg2://postgres:stivEthAkETYLEs@mk-pos-dev.cbfy2umpswje.ap-south-1.rds.amazonaws.com:5432/pos-dev')

In [2]:
import pandas as pd

In [87]:
remote_engine = db.create_engine('postgresql+psycopg2://postgres:abcd1234@localhost:5432/dbreporter')

In [3]:
def execute_query(query):
    with engine.connect() as connection:
        df = pd.read_sql(query, engine)
    
    return df

# Report 3

In [37]:
q1= '''SELECT 
		st.id as store_id,
 		st.name as store_name
	FROM 
    	stores st'''
q2 = '''SELECT 
        store_id, 
        billing_user_id, 
        SUM(total_bill_amount) AS total_amount 
     FROM sales_invoices 
     GROUP BY store_id, billing_user_id'''
q3 ='''SELECT 
		si.store_id, 
	   	si.billing_user_id, 
	  	SUM(sid.total_amount) AS gen_total_amount 
	FROM 
		sales_invoices si
	left JOIN 
		sales_invoice_details sid 
		ON si.id = sid.sales_invoice_id
	left JOIN 
		products p 
		ON sid.product_id = p.id
	WHERE
		p.mis_reporting_category in ('Generic medicine','Generic','Generic Medicine', 'Generic Multivitamin', 'Generic direct medicine')
	GROUP BY 
	si.store_id, si.billing_user_id'''
q4 = '''SELECT 
        store_id, 
        billing_user_id, 
        SUM(bill_amount) AS total_amount 
     FROM sales_return
     GROUP BY store_id, billing_user_id'''
q5 ='''Select 
		id as billing_user_id,
  		name
    from
		users'''
q6 = '''select
        si.store_id,
		si.billing_user_id,
		count(*) as msp_count
	from
		sales_invoice_details
	left join
		sales_invoices si
		on si.id = sales_invoice_id
	where
 		product_id = 9
    group by 
    	si.store_id, si.billing_user_id'''

In [38]:
temp1 = execute_query(q1)
temp2 = execute_query(q2)
temp3 = execute_query(q3)
temp4 = execute_query(q4)
temp5 = execute_query(q5)
temp6 = execute_query(q6)

In [39]:
temp1.rename(columns={'total_amount':'total_billed_amount'}, inplace=True)

In [40]:
temp3.rename(columns={'gen_total_amount':'GenericSales'}, inplace=True)

In [41]:
temp4.rename(columns={'total_amount':'Returnsales'}, inplace=True)
temp4['Returnsales'] = temp4['Returnsales'] * -1

In [42]:
temp1_2 = temp1.merge(temp2, how='left', on=['store_id'])

In [43]:
temp1_2_3 = pd.merge(temp1_2, temp3, how='left', on=['store_id', 'billing_user_id'])

In [44]:
temp1_2_3_4 = pd.merge(temp1_2_3, temp4, how='left', on=['store_id', 'billing_user_id'])

In [45]:
temp1_2_3_4_5 = pd.merge(temp1_2_3_4, temp5, how='left', on=['billing_user_id'])

In [46]:
temp1_2_3_4_5_6 = pd.merge(temp1_2_3_4_5, temp6, how='left', on=['billing_user_id', 'store_id'])

In [47]:
temp1_2_3_4_5_6

,store_id,store_name,billing_user_id,total_amount,GenericSales,Returnsales,name,msp_count
0,73,MEDKART A IOC ROAD,NaN,NaN,NaN,NaN,NaN,NaN
1,160,test store updated 1,NaN,NaN,NaN,NaN,NaN,NaN
2,164,test store 242,NaN,NaN,NaN,NaN,NaN,NaN
3,74,MEDKART B CHHANI JAKATNAKA,NaN,NaN,NaN,NaN,NaN,NaN
4,52,MAHALAXMI ENTERPRISE NIKOL,63.0,256.0,NaN,NaN,CHARMI ADMIN,NaN
...,...,...,...,...,...,...,...,...
157,40,MEDKART B KARELIBAG,NaN,NaN,NaN,NaN,NaN,NaN
158,22,MEDKART WHOLESALE,NaN,NaN,NaN,NaN,NaN,NaN
159,59,KRISHNA PHARMACY,NaN,NaN,NaN,NaN,NaN,NaN
160,42,MEDKART B MANJALPUR,NaN,NaN,NaN,NaN,NaN,NaN
161,65,MEDKART A BOPAL,NaN,NaN,NaN,NaN,NaN,NaN

# REPORT 1

In [48]:
df1 = pd.DataFrame({'product_code': [11377,30196,18437],
                    'Incentives': [350,30,100]})

In [49]:
df1

   product_code  Incentives
0         11377         350
1         30196          30
2         18437         100

In [50]:
q = '''select 
    sid.store_id,
    si.billing_user_id,
    sid.product_id as product_code,
    count(*) as qty
from sales_invoice_details sid
left join sales_invoices si
    on si.id = sid.sales_invoice_id
group by sid.store_id, si.billing_user_id, sid.product_id'''
t = execute_query(q)

In [51]:
df1_2 = pd.merge(df1,t,how='left', on=['product_code'])

In [52]:
df1_2.rename(columns={'Incentives':'Incentive per qty'}, inplace=True)

In [53]:
df1_2['TotalIncentive'] = df1_2['Incentive per qty'] * df1_2['qty']

In [54]:
df1_2

,product_code,Incentive per qty,store_id,billing_user_id,qty,TotalIncentive
0,11377,350,36.0,60.0,3.0,1050.0
1,11377,350,130.0,72.0,1.0,350.0
2,11377,350,36.0,120.0,15.0,5250.0
3,11377,350,36.0,40.0,52.0,18200.0
4,11377,350,36.0,62.0,5.0,1750.0
5,11377,350,36.0,63.0,6.0,2100.0
6,11377,350,36.0,76.0,1.0,350.0
7,11377,350,24.0,66.0,1.0,350.0
8,11377,350,36.0,96.0,2.0,700.0
9,11377,350,23.0,79.0,12.0,4200.0
10,11377,350,36.0,67.0,2.0,700.0
11,11377,350,130.0,66.0,1.0,350.0
12,11377,350,29.0,72.0,2.0,700.0
13,11377,350,23.0,40.0,3.0,1050.0
14,11377,350,28.0,72.0,1.0,350.0
15,11377,350,28.0,62.0,1.0,350.0
16,11377,350,23.0,63.0,3.0,1050.0
17,11377,350,29.0,96.0,1.0,350.0
18,11377,350,23.0,62.0,4.0,1400.0
19,11377,350,36.0,79.0,36.0,12600.0
20,11377,350,23.0,96.0,1.0,350.0
21,11377,350,23.0,833.0,1.0,350.0
22,11377,350,36.0,833.0,44.0,15400.0
23,30196,30,36.0,833.0,36.0,1080.0
24,30196,30,36.0,72.0,1.0,30.0
25,30196,30,36.0,63.0,10.0,300.0
26,30196,30,36.0,79.0,7.0,210.0
27,30196,30,36.0,67.0,2.0,60.0
28,30196,30,36.0,62.0,9.0,270.0
29,30196,30,36.0,60.0,6.0,180.0
30,30196,30,36.0,120.0,16.0,480.0
31,30196,30,36.0,40.0,25.0,750.0
32,18437,100,NaN,NaN,NaN,NaN

# REPORT 2

In [55]:
brand_cat_product = pd.DataFrame({'Kapiva': [11377,18437],
                                  'Himalaya': [30196,18739]})

In [56]:
Brand_tieup_2 = pd.DataFrame({'Brand_cat':['Kapiva','Kapiva','Kapiva','Himalaya','Himalaya','Himalaya'],
                              'Brand_sales_rate': [4000,8000,12000,5000,9000,14000],
                              "%applied": [4,10,15,5,12,20]})

In [57]:
Brand_tieup_2

  Brand_cat  Brand_sales_rate  %applied
0    Kapiva              4000         4
1    Kapiva              8000        10
2    Kapiva             12000        15
3  Himalaya              5000         5
4  Himalaya              9000        12
5  Himalaya             14000        20

In [58]:
brand_cat_product['Kapiva'].values

array([11377, 18437])

In [59]:
rp2_df1 = pd.DataFrame(columns=['store_id','billing_user_id','sales','Brand_cat'])

In [60]:
for col in brand_cat_product.columns:
    pd_id = str(tuple(set(brand_cat_product[col])))
    q = f'''select 
        sid.store_id,
        si.billing_user_id,
        sum(sid.total_amount) as sales
    from sales_invoice_details sid
    left join sales_invoices si
        on si.id = sid.sales_invoice_id
    where sid.product_id in {pd_id}
    group by sid.store_id, si.billing_user_id, sid.product_id'''
    rp2_df = execute_query(q)
    rp2_df['Brand_cat'] = col
    rp2_df1 = pd.concat([rp2_df1, rp2_df], ignore_index=True)
    #rp2_dict[col] = rp2_df

C:\Users\Medkart\AppData\Local\Temp\ipykernel_12380\2029687.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  rp2_df1 = pd.concat([rp2_df1, rp2_df], ignore_index=True)

In [61]:
rp2_df1

   store_id billing_user_id      sales Brand_cat
0        28              72     620.00    Kapiva
1        36              62    4967.70    Kapiva
2        36              76    1550.00    Kapiva
3        29              96    7750.00    Kapiva
4        36              40   30417.95    Kapiva
5        28              62    1240.00    Kapiva
6        24              66    1860.00    Kapiva
7        23              96    3100.00    Kapiva
8        23              62    1240.00    Kapiva
9        36              63    1860.00    Kapiva
10       36              79  164008.15    Kapiva
11       36              60     930.00    Kapiva
12       36              67    3102.75    Kapiva
13       23              40    1550.00    Kapiva
14       23              79    3721.10    Kapiva
15       36              96     310.55    Kapiva
16       23             833     310.00    Kapiva
17      130              72     310.00    Kapiva
18       36             833   42483.20    Kapiva
19      130              66     930.00    Kapiva
20       23              63    2790.00    Kapiva
21       36             120    8998.25    Kapiva
22       29              72    7750.00    Kapiva
23       36              72     100.00  Himalaya
24       36              40      12.00  Himalaya
25       36              79     700.00  Himalaya
26       36              62     900.00  Himalaya
27       36              40    2500.00  Himalaya
28       36              60     600.00  Himalaya
29       36             120    1600.00  Himalaya
30       36             833    3600.00  Himalaya
31       36              67     200.00  Himalaya
32       36              67      36.00  Himalaya
33       36              63    1000.00  Himalaya
34       36              62     115.20  Himalaya
35       36              79     163.20  Himalaya
36       36             833     458.40  Himalaya

In [62]:
percent_applied = []
rp2_df1 = rp2_df1.sort_values(by=['Brand_cat'])  # Correct sorting

for col in sorted(set(Brand_tieup_2['Brand_cat'].values)):  # Ensure sorted order
    brand_percent1 = Brand_tieup_2[Brand_tieup_2['Brand_cat'] == col]
    brand_percent = sorted(brand_percent1['Brand_sales_rate'].values)  # Ensure sorting
    df = rp2_df1[rp2_df1['Brand_cat'] == col]
    
    applied_percent_list = []  # Temporary list for each Brand_cat

    for _, row in df.iterrows():  
        applied_percent = None  # Default value
        
        for i in range(len(brand_percent) - 1):  
            if brand_percent[i] < row['sales'] < brand_percent[i + 1]:
                applied_percent = brand_percent1.iloc[i]['%applied']
                break  

        # Case where sales are greater than or equal to the last brand_percent value
        if applied_percent is None and row['sales'] >= brand_percent[-1]:
            applied_percent = brand_percent1.iloc[-1]['%applied']
        
        applied_percent_list.append(applied_percent)

    # Assign computed values correctly
    rp2_df1.loc[rp2_df1['Brand_cat'] == col, '%applied'] = applied_percent_list

In [63]:
rp2_df1['TotalIncentive'] = rp2_df1['%applied']*rp2_df1['sales']/100

In [64]:
rp2_df1

   store_id billing_user_id      sales Brand_cat %applied TotalIncentive
36       36             833     458.40  Himalaya     None            NaN
23       36              72     100.00  Himalaya     None            NaN
24       36              40      12.00  Himalaya     None            NaN
25       36              79     700.00  Himalaya     None            NaN
26       36              62     900.00  Himalaya     None            NaN
28       36              60     600.00  Himalaya     None            NaN
27       36              40    2500.00  Himalaya     None            NaN
30       36             833    3600.00  Himalaya     None            NaN
31       36              67     200.00  Himalaya     None            NaN
32       36              67      36.00  Himalaya     None            NaN
33       36              63    1000.00  Himalaya     None            NaN
34       36              62     115.20  Himalaya     None            NaN
29       36             120    1600.00  Himalaya     None            NaN
35       36              79     163.20  Himalaya     None            NaN
19      130              66     930.00    Kapiva     None            NaN
22       29              72    7750.00    Kapiva        4          310.0
21       36             120    8998.25    Kapiva       10        899.825
20       23              63    2790.00    Kapiva     None            NaN
0        28              72     620.00    Kapiva     None            NaN
16       23             833     310.00    Kapiva     None            NaN
1        36              62    4967.70    Kapiva        4        198.708
2        36              76    1550.00    Kapiva     None            NaN
3        29              96    7750.00    Kapiva        4          310.0
4        36              40   30417.95    Kapiva       15      4562.6925
5        28              62    1240.00    Kapiva     None            NaN
6        24              66    1860.00    Kapiva     None            NaN
7        23              96    3100.00    Kapiva     None            NaN
8        23              62    1240.00    Kapiva     None            NaN
9        36              63    1860.00    Kapiva     None            NaN
10       36              79  164008.15    Kapiva       15     24601.2225
11       36              60     930.00    Kapiva     None            NaN
12       36              67    3102.75    Kapiva     None            NaN
13       23              40    1550.00    Kapiva     None            NaN
14       23              79    3721.10    Kapiva     None            NaN
15       36              96     310.55    Kapiva     None            NaN
17      130              72     310.00    Kapiva     None            NaN
18       36             833   42483.20    Kapiva       15        6372.48

In [76]:
target = pd.DataFrame({'store_id': [36,24,130],
                   'Generic': [3000,4000,5000],
                   'OTC': [2000,2000,2000],
                   'MSP': [2,1,3],
                   'WOW': [2000,1000,2000]})

In [77]:
target

   store_id  Generic   OTC  MSP   WOW
0        36     3000  2000    2  2000
1        24     4000  2000    1  1000
2       130     5000  2000    3  2000

In [153]:
spot = pd.DataFrame({'store_id': [36,64],
                   'date': ['2024-09-15-2024-09-18','2024-09-15-2024-09-18'],
                   'SpotTarget': [7000,5000],
                   'GenSpotTarget': [300,100]})

In [154]:
spot['date_split'] = spot['date'].str.split('-')

# Function to extract Start_date and End_date safely
def extract_dates(date_list):
    if len(date_list) >= 6:  # Ensure enough parts exist
        return '-'.join(date_list[:3]), '-'.join(date_list[3:6])
    return '-'.join(date_list[:3]), None  # If not enough parts, return None for End_date

# Apply function to each row
spot[['Start_date', 'End_date']] = spot['date_split'].apply(lambda x: pd.Series(extract_dates(x)))

# Drop temporary column
spot.drop(columns=['date_split'], inplace=True)

In [155]:
spot

,store_id,date,SpotTarget,GenSpotTarget,Start_date,End_date
0,36,2024-09-15-2024-09-18,7000,300,2024-09-15,2024-09-18
1,64,2024-09-15-2024-09-18,5000,100,2024-09-15,2024-09-18

In [74]:
q= '''select store_id,sum(total_amount) from sales_invoices group by store_id'''
df = execute_query(q)

In [83]:
remote_engine = db.create_engine('postgresql+psycopg2://postgres:abcd1234@localhost:5432/dbreporter')

In [84]:
def data_to_sql(df,table_name): 
    for col in df.select_dtypes(include=['number']).columns:
        df[col] = df[col].apply(lambda x: int(x) if pd.notna(x) and x == int(x) else float(x))

    # Convert object columns (if needed)
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].astype(str)

    # Replace NaN with None for SQL compatibility
    df = df.where(pd.notna(df), None)

    with remote_engine.connect() as c:
        df.to_sql(name=table_name,if_exists='replace', con=remote_engine)
    return True

In [163]:
report4 = pd.DataFrame(columns=['store_id','date','SpotTarget','SpotSale','SpotReturn','GenSpotTarget','GenSpotSale','GenSpotReturn','achieved'])

In [164]:
for _,row in spot.iterrows():
    sd = str(row['Start_date'])
    ed = row['End_date']
    q = f'''SELECT 
            SUM(sid.total_amount) AS gen_total_amount 
        FROM 
            sales_invoices si
        left JOIN 
            sales_invoice_details sid 
            ON si.id = sid.sales_invoice_id
        left JOIN 
            products p 
            ON sid.product_id = p.id
        WHERE
            p.mis_reporting_category not in ('Branded medicine','Branded OTC','Branded Medicine', 'Branded Multivitamin','Branded Direct Medicine', 'Branded Direct medicine')
            and sid.created_at between '{sd}' and '{ed}'
            and si.store_id = {row['store_id']}
        GROUP BY 
        si.store_id'''
    df = execute_query(q)
    genspotsale = df['gen_total_amount'].values

    q = f'''SELECT 
            SUM(sid.total_amount) AS sales 
        FROM 
            sales_invoices si
        left JOIN 
            sales_invoice_details sid 
            ON si.id = sid.sales_invoice_id
        left JOIN 
            products p 
            ON sid.product_id = p.id
        WHERE
            sid.created_at between '{sd}' and	'{ed}'
            and si.store_id = {row['store_id']}
        GROUP BY 
        si.store_id'''
    df = execute_query(q)
    spotsale = df['sales'].values


    q = f'''SELECT 
            SUM(sid.bill_amount) AS gen_total_amount 
        FROM 
            sales_return si
        left JOIN 
            sales_return_details sid 
            ON si.sales_invoice_id = sid.sales_invoice_id
        left JOIN 
            products p 
            ON sid.product_id = p.id
        WHERE
            p.mis_reporting_category not in ('Branded medicine','Branded OTC','Branded Medicine', 'Branded Multivitamin','Branded Direct Medicine', 'Branded Direct medicine')
            and sid.created_at between '{sd}' and	'{ed}'
            and si.store_id = {row['store_id']}
        GROUP BY 
        si.store_id'''
    df = execute_query(q)
    genspotsalereturn = df['gen_total_amount'].values

    q = f'''SELECT 
            SUM(sid.bill_amount) AS sales 
        FROM 
            sales_return si
        left JOIN 
            sales_return_details sid 
            ON si.sales_invoice_id = sid.sales_invoice_id
        left JOIN 
            products p 
            ON sid.product_id = p.id
        WHERE
            sid.created_at between '{sd}' and	'{ed}'
            and si.store_id = {row['store_id']}
        GROUP BY 
        si.store_id'''
    df = execute_query(q)
    spotsalereturn = df['sales'].values
    print(row,genspotsale,spotsale,genspotsalereturn,spotsalereturn)
    # Ensure array is not empty before accessing index 0
    row['SpotSale'] = spotsale[0] if len(spotsale) > 0 else 0
    row['SpotReturn'] = spotsalereturn[0] if len(spotsalereturn) > 0 else 0
    row['GenSpotSale'] = genspotsale[0] if len(genspotsale) > 0 else 0
    row['GenSpotReturn'] = genspotsalereturn[0] if len(genspotsalereturn) > 0 else 0
    print(row)
    row['achieved'] = True if ((row['SpotSale'] - row['SpotReturn']) >= row['SpotTarget'] and (row['GenSpotSale'] - row['GenSpotReturn']) >= row['GenSpotTarget']) else False
    # report4 = pd.DataFrame(columns=['store_id','date','SpotTarget','SpotSale','SpotReturn','GenSpotSale','GenSpotReturn','achieved'])
    report4.loc[len(report4)] = row

store_id                            36
date             2024-09-15-2024-09-18
SpotTarget                        7000
GenSpotTarget                      300
Start_date                  2024-09-15
End_date                    2024-09-18
Name: 0, dtype: object [318.] [16737.98] [10.] [3401.5]
store_id                            36
date             2024-09-15-2024-09-18
SpotTarget                        7000
GenSpotTarget                      300
Start_date                  2024-09-15
End_date                    2024-09-18
SpotSale                      16737.98
SpotReturn                      3401.5
GenSpotSale                      318.0
GenSpotReturn                     10.0
Name: 0, dtype: object
store_id                            64
date             2024-09-15-2024-09-18
SpotTarget                        5000
GenSpotTarget                      100
Start_date                  2024-09-15
End_date                    2024-09-18
Name: 1, dtype: object [] [] [] []
store_id                            64
date             2024-09-15-2024-09-18
SpotTarget                        5000
GenSpotTarget                      100
Start_date                  2024-09-15
End_date                    2024-09-18
SpotSale                             0
SpotReturn                           0
GenSpotSale                          0
GenSpotReturn                        0
Name: 1, dtype: object

In [165]:
report4

,store_id,date,SpotTarget,SpotSale,SpotReturn,GenSpotTarget,GenSpotSale,GenSpotReturn,achieved
0,36,2024-09-15-2024-09-18,7000,16737.98,3401.5,300,318.0,10.0,True
1,64,2024-09-15-2024-09-18,5000,0,0,100,0,0,False

# Report 5

### LOCAL ONE TIME STORAGE

In [78]:
q = '''SELECT 
    store_id,
    billing_user_id,
    status,
    is_urgent_order,
    EXTRACT(day FROM created_at) AS day,
    EXTRACT(MONTH FROM created_at) AS month,
    EXTRACT(year FROM created_at) AS year,
    SUM(total_amount) AS total_amount
FROM 
    advance_sales_invoices
WHERE
    status IN ('INVOICED', 'PENDING')
GROUP BY 
    store_id, billing_user_id, status, is_urgent_order, EXTRACT(year FROM created_at), EXTRACT(MONTH FROM created_at), EXTRACT(day FROM created_at)'''
df = execute_query(q)

In [ ]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
df.drop(columns=['year', 'month', 'day'], inplace=True)
df['Urgent_Order_Punched_Amt'] = 0.0
df['Advance_Order_Punched_Amt'] = 0.0
df['Urgent_Order_Invoiced_Amt'] = 0.0
df['Advance_Order_Invoiced_Amt'] = 0.0

df.loc[(df['status'] == 'PENDING') & (df['is_urgent_order']), 'Urgent_Order_Punched_Amt'] = df['total_amount']
df.loc[(df['status'] == 'PENDING') & (~df['is_urgent_order']), 'Advance_Order_Punched_Amt'] = df['total_amount']
df.loc[(df['status'] == 'INVOICED') & (df['is_urgent_order']), 'Urgent_Order_Invoiced_Amt'] = df['total_amount']
df.loc[(df['status'] == 'INVOICED') & (~df['is_urgent_order']), 'Advance_Order_Invoiced_Amt'] = df['total_amount']
result = df.groupby(['store_id', 'billing_user_id','date'], as_index=False).sum()
# result['Urgent_Order_Sales%'] = (result['Urgent_Order_Invoiced_Amt'] / result['Urgent_Order_Punched_Amt'].replace(0, 1)) * 100
# result['Advance_Order_Sales%'] = (result['Advance_Order_Invoiced_Amt'] / result['Advance_Order_Punched_Amt'].replace(0, 1)) * 100

result.fillna(0, inplace=True)

columns_to_format = [
    'Urgent_Order_Punched_Amt', 'Advance_Order_Punched_Amt',
    'Urgent_Order_Invoiced_Amt', 'Advance_Order_Invoiced_Amt',
    # 'Urgent_Order_Sales%', 'Advance_Order_Sales%'
]
result[columns_to_format] = result[columns_to_format].round(2)

result.drop(columns=['status','total_amount','is_urgent_order'], inplace=True)

In [104]:

def data_to_sql(df,table_name): 
        
    for col in df.select_dtypes(include=['number']).columns:
        df[col] = df[col].apply(lambda x: int(x) if pd.notna(x) and x == int(x) else float(x))

    # Convert object columns (if needed)
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].astype(str)

    # Replace NaN with None for SQL compatibility
    df = df.where(pd.notna(df), None)
    with remote_engine.connect() as c:
        df.to_sql(name=table_name,if_exists='replace', con=remote_engine)
    return True

In [86]:
data_to_sql(result,'advance_urgent_order')

True

In [88]:
def execute_query(query):
    with engine.connect() as connection:
        df = pd.read_sql(query, remote_engine)
    
    return df

In [89]:
q = '''select * from advance_urgent_order'''
df = execute_query(q)

### Daily CRON

##### Append created rows

In [ ]:
import datetime as dt
today = dt.datetime.now().date()
yesterday = today - dt.timedelta(days=1)

In [ ]:
q = f'''SELECT 
    store_id,
    billing_user_id,
    status,
    is_urgent_order,
    SUM(total_amount) AS total_amount
FROM 
    advance_sales_invoices
WHERE
    status IN ('INVOICED', 'PENDING')
    and created_at >= '{yesterday}'
GROUP BY 
    store_id, billing_user_id, status, is_urgent_order'''
yesterdays_data = execute_query(q)


# Trasform

yesterdays_data['Urgent_Order_Punched_Amt'] = 0.0
yesterdays_data['Advance_Order_Punched_Amt'] = 0.0
yesterdays_data['Urgent_Order_Invoiced_Amt'] = 0.0
yesterdays_data['Advance_Order_Invoiced_Amt'] = 0.0

yesterdays_data.loc[(yesterdays_data['status'] == 'PENDING') & (yesterdays_data['is_urgent_order']), 'Urgent_Order_Punched_Amt'] = yesterdays_data['total_amount']
yesterdays_data.loc[(yesterdays_data['status'] == 'PENDING') & (~yesterdays_data['is_urgent_order']), 'Advance_Order_Punched_Amt'] = yesterdays_data['total_amount']
yesterdays_data.loc[(yesterdays_data['status'] == 'INVOICED') & (yesterdays_data['is_urgent_order']), 'Urgent_Order_Invoiced_Amt'] = yesterdays_data['total_amount']
yesterdays_data.loc[(yesterdays_data['status'] == 'INVOICED') & (~yesterdays_data['is_urgent_order']), 'Advance_Order_Invoiced_Amt'] = yesterdays_data['total_amount']
result = yesterdays_data.groupby(['store_id', 'billing_user_id','date'], as_index=False).sum()
# result['Urgent_Order_Sales%'] = (result['Urgent_Order_Invoiced_Amt'] / result['Urgent_Order_Punched_Amt'].replace(0, 1)) * 100
# result['Advance_Order_Sales%'] = (result['Advance_Order_Invoiced_Amt'] / result['Advance_Order_Punched_Amt'].replace(0, 1)) * 100

result.fillna(0, inplace=True)

columns_to_format = [
    'Urgent_Order_Punched_Amt', 'Advance_Order_Punched_Amt',
    'Urgent_Order_Invoiced_Amt', 'Advance_Order_Invoiced_Amt',
    # 'Urgent_Order_Sales%', 'Advance_Order_Sales%'
]
result[columns_to_format] = result[columns_to_format].round(2)

result.drop(columns=['status','total_amount','is_urgent_order'], inplace=True)

In [ ]:
import datetime as dt

def data_to_sql_append(df,table_name): 
        
    today = dt.datetime.now().date()
    for col in df.select_dtypes(include=['number']).columns:
        df[col] = df[col].apply(lambda x: int(x) if pd.notna(x) and x == int(x) else float(x))

    # Convert object columns (if needed)
    for col in df.select_dtypes(include=['object']).columns:
        df[col] = df[col].astype(str)

    # Replace NaN with None for SQL compatibility
    df = df.where(pd.notna(df), None)
    df['updated_at'] = today
    with remote_engine.connect() as c:
        df.to_sql(name=table_name,if_exists='append', con=remote_engine)
    return True

In [ ]:
data_to_sql_append(result,'advance_urgent_order')

In [97]:
df

,index,store_id,billing_user_id,date,Urgent_Order_Punched_Amt,Advance_Order_Punched_Amt,Urgent_Order_Invoiced_Amt,Advance_Order_Invoiced_Amt
0,0,23,6,2024-05-22,0.0,0.0,0.0,102.0
1,1,23,40,2024-06-19,0.0,12750.0,0.0,71655.0
2,2,23,40,2024-06-21,0.0,16830.0,0.0,0.0
3,3,23,62,2024-09-11,0.0,0.0,0.0,952.0
4,4,23,63,2024-08-16,0.0,621.0,0.0,0.0
...,...,...,...,...,...,...,...,...
259,259,130,66,2024-09-20,0.0,7115.0,0.0,0.0
260,260,130,66,2024-09-25,0.0,2486.0,0.0,0.0
261,261,130,66,2024-10-15,0.0,1577.0,0.0,0.0
262,262,141,63,2024-12-03,0.0,1224.0,0.0,0.0
263,263,141,833,2024-12-04,0.0,1173.0,0.0,0.0

##### Replace update rows

In [ ]:
q = f'''SELECT 
    store_id,
    billing_user_id,
    status,
    is_urgent_order,
    SUM(total_amount) AS total_amount
FROM 
    advance_sales_invoices
WHERE
    status IN ('INVOICED', 'PENDING')
    and updated_at >= '{yesterday}'
    and created_at < '{yesterday}'
GROUP BY 
    store_id, billing_user_id, status, is_urgent_order'''
yesterdays_data = execute_query(q)


# Trasform

yesterdays_data['Urgent_Order_Punched_Amt'] = 0.0
yesterdays_data['Advance_Order_Punched_Amt'] = 0.0
yesterdays_data['Urgent_Order_Invoiced_Amt'] = 0.0
yesterdays_data['Advance_Order_Invoiced_Amt'] = 0.0

yesterdays_data.loc[(yesterdays_data['status'] == 'PENDING') & (yesterdays_data['is_urgent_order']), 'Urgent_Order_Punched_Amt'] = yesterdays_data['total_amount']
yesterdays_data.loc[(yesterdays_data['status'] == 'PENDING') & (~yesterdays_data['is_urgent_order']), 'Advance_Order_Punched_Amt'] = yesterdays_data['total_amount']
yesterdays_data.loc[(yesterdays_data['status'] == 'INVOICED') & (yesterdays_data['is_urgent_order']), 'Urgent_Order_Invoiced_Amt'] = yesterdays_data['total_amount']
yesterdays_data.loc[(yesterdays_data['status'] == 'INVOICED') & (~yesterdays_data['is_urgent_order']), 'Advance_Order_Invoiced_Amt'] = yesterdays_data['total_amount']
result = yesterdays_data.groupby(['store_id', 'billing_user_id','date'], as_index=False).sum()
# result['Urgent_Order_Sales%'] = (result['Urgent_Order_Invoiced_Amt'] / result['Urgent_Order_Punched_Amt'].replace(0, 1)) * 100
# result['Advance_Order_Sales%'] = (result['Advance_Order_Invoiced_Amt'] / result['Advance_Order_Punched_Amt'].replace(0, 1)) * 100

result.fillna(0, inplace=True)

columns_to_format = [
    'Urgent_Order_Punched_Amt', 'Advance_Order_Punched_Amt',
    'Urgent_Order_Invoiced_Amt', 'Advance_Order_Invoiced_Amt',
    # 'Urgent_Order_Sales%', 'Advance_Order_Sales%'
]
result[columns_to_format] = result[columns_to_format].round(2)

result.drop(columns=['status','total_amount','is_urgent_order'], inplace=True)